body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: white;
    font-size: 20px;
}

/*Homepage*/
.navbar {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #f0f0f0;
}

.navbar img {
    max-width: 100%;
}

.content {
    text-align: center;
    margin: 20px 0;
}

.content img {
    max-width: 100%;
    margin: 20px 0;
}

h1 {
    margin: 10px 0;
}

.grey-button {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.images {
    display: flex;
    flex-direction: column;
}

/*Rewards*/
.rewards {
    padding-bottom: 10%;
}

.rewards-container {
    text-align: center;
    padding-top: 20%;
}

.level {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.meter {
    display: flex;
    align-items: flex-end;
    height: 20px;
}

.square {
    width: 50px;
    height: 15px;
    margin: 0 5px;
    background-color: grey;
    border-radius: 40px;
    transition: height 0.5s ease, background-color 0.5s ease;
}

.green {
    background-color: green;
}

.animation {
    animation: fillMeter 5s linear infinite;
}

@keyframes fillMeter {
    0%, 100% {
        height: 0;
    }
    20%, 80% {
        height: 40px;
    }
    40%, 60% {
        height: 80px;
    }
}